<!DOCTYPE html>
<html lang="en"
      th:fragment="layout (template, menu)">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html;>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My Application</title>
    <!-- <link rel="stylesheet" th:href="@{/resources/static/css/myapp.css}"/> -->
</head>
<body>


    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>